@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.eot?t=1484718993868');
	/* IE9*/
	src: url('../fonts/iconfont.eot?t=1484718993868#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../fonts/iconfont.woff?t=1484718993868') format('woff'), /* chrome, firefox */
	url('../fonts/iconfont.ttf?t=1484718993868') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('../fonts/iconfont.svg?t=1484718993868#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-geren:before {
	content: "\e622";
}

.icon-card:before {
	content: "\e66c";
}

.icon-renwu:before {
	content: "\e761";
}

@font-face {
	font-family: MuiiconSpread;
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/mui-icons-extra.ttf') format('truetype');
	/* iOS 4.1- */
}

.mui-icon-extra {
	font-family: MuiiconSpread;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
}

.mui-icon-extra-cold:before {
	content: "\e500";
}

.mui-icon-extra-share:before {
	content: "\e200";
}

.mui-icon-extra-class:before {
	content: "\e118";
}

.mui-icon-extra-custom:before {
	content: "\e117";
}

.mui-icon-extra-new:before {
	content: "\e103";
}

.mui-icon-extra-card:before {
	content: "\e104";
}

.mui-icon-extra-grech:before {
	content: "\e105";
}

.mui-icon-extra-trend:before {
	content: "\e106";
}

.mui-icon-extra-filter:before {
	content: "\e207";
}

.mui-icon-extra-holiday:before {
	content: "\e300";
}

.mui-icon-extra-cart:before {
	content: "\e107";
}

.mui-icon-extra-heart:before {
	content: "\e180";
}

.mui-icon-extra-computer:before {
	content: "\e600";
}

.mui-icon-extra-express:before {
	content: "\e108";
}

.mui-icon-extra-gift:before {
	content: "\e109";
}

.mui-icon-extra-gold:before {
	content: "\e102";
}

.mui-icon-extra-lamp:before {
	content: "\e601";
}

.mui-icon-extra-rank:before {
	content: "\e110";
}

.mui-icon-extra-notice:before {
	content: "\e111";
}

.mui-icon-extra-sweep:before {
	content: "\e202";
}

.mui-icon-extra-arrowleftcricle:before {
	content: "\e401";
}

.mui-icon-extra-dictionary:before {
	content: "\e602";
}

.mui-icon-extra-heart-filled:before {
	content: "\e119";
}

.mui-icon-extra-xiaoshuo:before {
	content: "\e607";
}

.mui-icon-extra-top:before {
	content: "\e403";
}

.mui-icon-extra-people:before {
	content: "\e203";
}

.mui-icon-extra-topic:before {
	content: "\e603";
}

.mui-icon-extra-hotel:before {
	content: "\e301";
}

.mui-icon-extra-like:before {
	content: "\e206";
}

.mui-icon-extra-regist:before {
	content: "\e201";
}

.mui-icon-extra-order:before {
	content: "\e113";
}

.mui-icon-extra-alipay:before {
	content: "\e114";
}

.mui-icon-extra-find:before {
	content: "\e400";
}

.mui-icon-extra-arrowrightcricle:before {
	content: "\e402";
}

.mui-icon-extra-calendar:before {
	content: "\e115";
}

.mui-icon-extra-prech:before {
	content: "\e116";
}

.mui-icon-extra-cate:before {
	content: "\e501";
}

.mui-icon-extra-comment:before {
	content: "\e209";
}

.mui-icon-extra-at:before {
	content: "\e208";
}

.mui-icon-extra-addpeople:before {
	content: "\e204";
}

.mui-icon-extra-peoples:before {
	content: "\e205";
}

.mui-icon-extra-calc:before {
	content: "\e101";
}

.mui-icon-extra-classroom:before {
	content: "\e604";
}

.mui-icon-extra-phone:before {
	content: "\e404";
}

.mui-icon-extra-university:before {
	content: "\e605";
}

.mui-icon-extra-outline:before {
	content: "\e606";
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

.benefit-footer {
	background-color: #fff;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .35);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
	padding-top: 5px;
}

.benefit-slider img {
	max-height: 160px;
}

.index-msg {
	padding: 10px 15px;
	background-color: #DD524D;
	color: #fff;
	font-size: 14px;
	vertical-align: middle;
}

.index-task {
	padding: 10px 15px 0;
	font-size: 14px;
	color: #8F8F94;
}

.index-task .name {
	font-weight: bold;
}

.index-task a {
	color: #8F8F94;
}

.index-card li {
	margin: 10px 15px;
}

.index-card li> div {
	background-color: #fff;
}

.index-card li .left {
	border-radius: 5px 0 0 5px;
	padding: 10px 0 10px 15px;
	font-size: 11px;
	color: #797979;
}
.index-card li .left img{
	width: 42px;
	height: 42px;
}
.index-card li .left .con{
	line-height: 15px;
	margin-left: 10px;
}
.index-card li .left .title{
	font-size: 14px;
	color: #444;
}

.index-card li .right {
	width: 35%;
	border-radius: 0 5px 5px 0;
	text-align: center;
	position: relative;
	border-left: 1px dashed #ddd;
	color: #de566e;
	font-size: 14px;
}
.index-card li .right .unit{
	font-size: 11px;
}

.index-card li .right:before {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	left: -5.5px;
	top: -5px;
	z-index: 11;
	background-color: #F4F4F4;
}

.index-card li .right:after {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	left: -5.5px;
	bottom: -5px;
	z-index: 11;
	background-color: #F4F4F4;
}